.label{
    display: flex;
    flex-direction: column;

}
.input{
    display: flex;
    flex-direction: column;

}
.textarea{
    display: flex;
    flex-direction: column;
}
.select{
    display: flex;
    flex-direction: column;
}
.option{
    display: flex;
    flex-direction: column;
}